:root {
  color-scheme: light;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  max-width: 40rem;
  margin: 0 auto;
  padding: 3rem 1.5rem;
}
